<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="favicon" type="image/png" href="/static/imgs/donald.png">
    <title>Sensational Text Detector</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="static/js/app.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<audio id="america" src="/static/music/this_is_america.mp3" ></audio>
	<script>
		function sound() {
	  		var audio = document.getElementById("america");
	  		audio.volume = 0.1;
	  		audio.play();
  		}
	</script>
</head>
<body>
	<div class="topcontainer">
		<h1> About</h1>
	</div>
	<div class="bottomcontainer">
		<p> Hey! This website was built as an extension of a project that was developed for our 
            Computational Semantics class at UT Austin (LIN 350). Our machine learning model was
            inspired by a <a href="https://github.com/clips/news-audit"> Github</a> project,
			which attempted to achieve the same goal that we had: to determine whether a news article was sensationalized.
		</p>
		<p>
			The model uses text analysis tools such as NLTK and Pattern to extract features from the text. We look
			at features including sentence structure, part-of-speech usage, sentence length, sentiment, punctuation, etc.
			to input into a neural network and produce a classification for the article as sensationalized or not sensationalized.
		</p>
		<p>
			Potential pitfalls:
		</p>
	</div>
</body>
<footer>
	<p>Made with ❤ in Austin. Built with Keras and Tensorflow. <a href="https://github.com/pyrito/sensational_text_detection"> Github </a></p>
</footer>
</html>