<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="favicon" type="image/png" href="/static/imgs/donald.png">
    <title>Sensational Text Detector</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="static/js/app.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<audio id="america" src="/static/music/this_is_america.mp3" ></audio>
	<script>
		function sound() {
	  		var audio = document.getElementById("america");
	  		audio.volume = 0.1;
	  		audio.play();
  		}
	</script>
</head>
<body>
	<div class="topcontainer">
		<h1> Results</h1>
		<p> Are you reading a novel or a news article?!?!?! </p>
		<p>"Fake News has become an art form." - A.E. Samaan </p>
	</div>
	<div class="bottomcontainer">
		<h4 id="sound" onclick="sound()"> ERROR WITH LINK </h4>
	</div>
</body>
<footer>
	<p>Made with ❤ in Austin. Built with Keras and Tensorflow. <a href="https://github.com/pyrito/sensational_text_detection"> Github </a></p>
</footer>
</html>